// Navigation styles
.navbar {
    background-color: $light-gray;
    padding-top:0;
    padding-bottom: 0;

    .navbar-nav {
        .nav-item {
            padding: 0 0.5rem;

            .bi-plus, .bi-upload, .bi-arrow-repeat, .bi-file-excel {
                    color: $purple;
            }

            .nav-link {
                &.d-flex {
                    gap: 1rem;
                    align-items: center;

                    @include media-breakpoint-up(sm) {
                        gap: 0.5rem; 
                    }
                }
            }

            @include media-breakpoint-up(sm) {
                &:hover {
                    background-color: $medium-gray;
                }
            }
        }
    }
}
