.data-table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    caption {
        caption-side: top;
        font-size: $header-font-size;
    }

    thead {
        border-bottom: solid #ddd 1px;
        width: 100%;

        th {
            font-weight: $normal-font-weight;
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid $light-gray;
        }
    }

    td {
        padding: 10px 0;
        position: relative;
    }

    .fa-exclamation-circle {
        position: absolute;
        bottom: 30px;
        font-size: 12px;
        left: -0.25rem;
    }

    @include media-breakpoint-down(sm) {
        .fa-exclamation-circle {
            left: 7.25rem;
        }

        tr {
            border: 1px solid $light-gray;
            display: block;
            margin-bottom: 2rem;
        }

        td {
            display: flex;
            text-align: left;
            align-items: center;
            border-bottom: 1px solid $light-gray;
            width: 100%;

            &:first-child {
                text-align: right;
                background-color: $light-gray;

                .bi,
                img {
                    position: absolute;
                    right: 0;
                    margin-right: 1rem;
                }

                &::before {
                    text-align: left;
                    float: left;
                }
            }

            &::before {
                width: 35%;
                padding-left: 0.5rem;
                content: attr(data-label);
                font-style: italic;
                font-weight: bold;
            }
        }
    }
}

.col-width-15 {
    width: 15%;
}

.col-width-30 {
    width: 30%;
}

.col-width-5 {
    width: 5%;
}

#content {
    max-width: 100%;
    margin: 0 0.125rem;

    @include media-breakpoint-up(md) {
        max-width: 90%;
        margin: auto;
    }
}
