.data-table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    caption {
        caption-side: top;
        font-size: $header-font-size;
    }

    thead {
        border-bottom: solid $medium-gray 1px;
        width: 100%;

        th {
            font-weight: $normal-font-weight;
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid $light-gray;
        }
    }

    td {
        padding: 10px 0;
    }

    @include media-breakpoint-down(sm) {
        tr {
            display: block;
            padding-bottom: 2rem;
        }

        td {
            display: flex;
            text-align: left;
            border-bottom: 1px solid $light-gray;
            width: 100vw;

            &:first-child {
                text-align: right;
                background-color: $light-gray;

                }

                &::before {
                    text-align: left;
                    float: left;
                }
            }

            &::before {
                width: 35%;
                padding-left: 0.5rem;
                content: attr(data-label);
                font-style: italic;
                font-weight: bold;
            }
        }
    }
}

.col-width-15 {
    width: 15%;
}

.col-width-30 {
    width: 30%;
}
